{% extends "socialaccount/base.html" %}
{% load socialaccount %}
{% block head_title %}Third-Party Connections{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h2>Third-Party Connections</h2>

    {% if form.accounts %}
    <form method="POST" action="{% url 'socialaccount_connections' %}">
      {% csrf_token %}
      <p>You are already connected to your Google account.</p>

      {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
      {% endif %}

      {% for base_account in form.accounts %}
      <input id="remove-google-account" class="hidden" type="radio" name="account" value="{{base_account.id}}" checked/>
      {% endfor %}
      <button type="submit" class="btn btn-danger">Remove my Google account</button>
    </form>

    {% else %}
    <a href="{% provider_login_url 'google' process='connect' %}" class="btn btn-primary">Connect your Google account</a>
    {% endif %}
  </div>
</div>
{% endblock %}
