{% extends "account/base.html" %}
{% load widget_tweaks %}
{% block head_title %}Sign In{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h2>Sign In</h2>
    <p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>

    <form class="form-horizontal well well-lg" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
      {% endif %}

      <div class="form-group {% if form.login.errors %}has-error{% endif %}">
        <label for="id_login" class="col-sm-3 control-label">User</label>
        <div class="col-sm-9">
          {{ form.login|attr:"class:form-control"}}
          <div class="text-danger">{{ form.login.errors }}</div>
        </div>
      </div>

      <div class="form-group {% if form.password.errors %}has-error{% endif %}">
        <label for="id_password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          {{ form.password|attr:"class:form-control"}}
          <div class="text-danger">{{ form.password.errors }}</div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <div class="checkbox">
            <label>
              {{ form.remember }} Remember me
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
      </div>

    </form>
    <a class="pull-right" href="{% url 'account_reset_password' %}">Forgot Password?</a>
  </div>
</div>
{% endblock %}
