{% extends "account/base.html" %}
{% load widget_tweaks %}
{% block head_title %}Signup{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h2>Sign Up</h2>
    <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>

    <form class="form-horizontal well well-lg" method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="form-group {% if form.username.errors %}has-error{% endif %}">
        <label for="id_username" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-9">
          {{ form.username|attr:"class:form-control"}}
          <div class="text-danger">{{ form.username.errors }}</div>
        </div>
      </div>

      <div class="form-group {% if form.email.errors %}has-error{% endif %}">
        <label for="id_email" class="col-sm-3 control-label">E-mail</label>
        <div class="col-sm-9">
          {{ form.email|attr:"class:form-control"}}
          <div class="text-danger">{{ form.email.errors }}</div>
        </div>
      </div>

      <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
        <label for="id_password1" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          {{ form.password1|attr:"class:form-control"}}
          <div class="text-danger">{{ form.password1.errors }}</div>
        </div>
      </div>

      <div class="form-group {% if form.password2.errors or form.non_field_errors %}has-error{% endif %}">
        <label for="id_password2" class="col-sm-3 control-label">Password (again)</label>
        <div class="col-sm-9">
          {{ form.password2|attr:"class:form-control"}}
          <div class="text-danger">{{ form.password2.errors }}{{ form.non_field_errors }}</div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}


