{% extends "app/base.html" %}

{% block title %}Labeling{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1>Labeling center</h1>
    <p>This website is intended to help you label your machine learning classification datasets. You can upload your dataset as a CSV file and add colaborators (a.k.a grad students) to label your samples.</p>
    <p>Sign up and start labeling today!</p>
    <p>
      <a class="btn btn-lg btn-primary" href="{% url 'account_signup' %}" role="button">Sign up</a>
    </p>
  </div>
{% endblock %}
